<!--******************************************* HOME BANNER ******************************************-->
<section class="container-fluid m-0 p-0">
	<div class="z-4 position-relative" id="banner">
		<div class="row">
			<div
				class="col">
				<!-- Nouveau conteneur pour le texte animé -->
				<div class="typed-container slogan">
					<h1 id="typed-output" class="text-center my-auto"></h1>
				</div>
				<div class="text-end py-5">
					<a href="" class="btn btn-primary btn-custom btn-don rounded-5 text-uppercase px-3">
						<h5 class="fw-bold">
							Faire un don
						</h5>
					</a>
				</div>
				<div class="z-2 m-0 p-0">
					<img src="{{ asset('assets/svg/entete-accueil.svg')}}" class="big-worm" alt="illustration de verre de terre qui cri avec un mégaphone" width="115%" height="auto">
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid m-0 p-0">
		<div class="row m-0 p-0">
			<div class="m-0 p-0">
				<img src="{{ asset('assets/images/losirs-vign2-d.jpg')}}" class="big-image img-fluid" alt="belle grande image en couleur de paysage de notre planète terre" width="100%" height="auto">
			</div>
		</div>
	</div>
</section>
<!--******************************************* END HOME BANNER ******************************************-->


