<!--********************************** START FOOTER -->
<footer class="footer text-center">
        <div class="container-fluid m-0 p-0">
            <div class="row m-0 p-0">
                <div class=" mx-0 px-0 z-3 position-relative">
                    <img src="{{ asset('assets/svg/separator-footer.svg')}}" class="separator-footer img-fluid" alt="separation en vague entre les sections" w="" h="">
                </div>
            </div>
            <div class="text-center pb-4">
                <div class="text-uppercase">
                    <!-- TODO: faire les controller et mettre les paths / bundle pour générer le plan du site ???? -->
                    <a href=""><p class="d-inline px-3">Gestion des cookies</p></a>
                    <a href=""><p class="d-inline px-3">Mention légales</p></a>
                    <a href=""><p class="d-inline px-3">Politique de confidentialité</p></a>
                    <a href=""><p class="d-inline px-3">Plan du site</p></a>
                    <a href=""><p class="d-inline px-3">Accessibilité</p></a>
                </div>
            </div>
        </div>
    <!--********************************** TODO: logo agence Comme l'oiseau -->
    <!-- <div class="pb-1 text-white ps-4">
        <div class="d-flex align-items-center">
            <p>droits légaux. dépôt....</p>
            <img src="./assets/svg/.svg" class="logo-clo" img-fluid" alt="logo agence commel'oiseau créatrice de site">
    </div> -->
</footer>