<header class="sticky-top">
    <nav class="navbar navbar-expand-xl navbar-light navbar-custom text-uppercase" id="navbar-main">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img class="wwf-logo mt-1 pt-1" src="{{ asset('assets/svg/wwf-logo.svg')}}" alt="logo beige de la World Worm Foundation" width="200" height="100">
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}">accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">vers&#150;de&#150;terre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">qui&#8211;sommes nous &#63;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">nos partenaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">contactez&#8211;nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">connexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
