{# ------ newsletter -------------------- for front allpages except footer links and form contacts #}
<!--START SECTION 7************HOME PAGE / WWF NEWSLETTER -->
{# <section class="container-fluid m-0 p-0 py-5" id="newsletter">
    <div class="m-0 p-0">
        <div class="title">
            <h2 class="title-section text-center">
                WWF Newsletter
            </h2>
        </div>
        <div class="subtitle">
            <h3 class="subtitle-section text-center py-2">
                Inscrivez vous pour rester informé.
            </h3>
        </div>
        <div class="text-center py-2">
            <a href="" class="btn btn-primary btn-custom btn-ligthb rounded-5 text-uppercase">
                <h5 class="fw-bold">
                    Inscrivez&#8211;vous
                </h5>
            </a>
        </div>
    </div>
</section> #}
<!--*******************************  END SECTION 7 -->

	<section class="container m-0 p-0 py-5" id="newsletter"> <div class="m-0 p-0">
		<div class="row m-0 p-0">
			<div class="mx-0 px-0 z-2 position-relative">
				<img src="{{ asset('assets/svg/separator-section2.svg')}}" class="separator2 img-fluid" alt="separation en vague entre les sections" w="" h="">
			</div>
			<div class="title">
				<h2 class="title-section text-center">
					WWF Newsletter
				</h2>
			</div>
			<div class="subtitle">
				<h3 class="subtitle-section text-center py-2">
					Inscrivez vous pour rester informé.
				</h3>
			</div>
		</div>
		<div class="text-center py-2">
			<a href="" class="btn btn-primary btn-custom btn-ligthb rounded-5 text-uppercase my-5">
				<h5 class="fw-bold">
					Inscrivez&#8211;vous
				</h5>
			</a>
		</div>
	</div>
</section>

