<!--******************************************** START SECTION 3 ******** ONLY ON HOME PAGE /  NUMBERS -->
<section class="container-fluid m-0 px-2 py-5" id="numbers">
    <div class="container m-0 py-5">
        <div class="row m-0 p-0">
            <div class="text-center">
                <div class="title-s3">
                    <h2 class="title-section text-center">Quelques chiffres...</h2>
                </div>
            </div>
            <div class="container nums m-0 p-0">
                <div class="row">
                    <div class="col num mx-auto">
                        <div class="text-center px-5">
                            <img src="{{ asset('assets/svg/birthdate-s3.svg')}}" class="picto-num1 text-center py-2" 
                                alt="Icône âge" width="80" height="80">
                        </div>
                        <h4 class="num-bg text-center" data-end-value="340">0</h4>
                        <h5 class="num-title text-center text-uppercase">
                            âge en millions
                            <br/>d&#146;années
                        </h5>
                    </div>
                    <div class="col num mx-auto">
                        <div class="text-center px-5">
                            <img src="{{ asset('assets/svg/earth-s3.svg')}}" class="picto-num2 text-center py-2" 
                                alt="Icône terre" width="80" height="80">
                        </div>
                        <h4 class="num-bg text-center" data-end-value="70">0</h4>
                        <h5 class="num-title text-center text-uppercase">
                            de la biomasse
                            <br/>animale
                        </h5>
                    </div>
                    <div class="col num mx-auto">
                        <div class="text-center px-5">
                            <img src="{{ asset('assets/svg/weight-s3.svg')}}" class="picto-num3 text-center py-2" 
                                alt="Icône poids" width="60" height="80">
                        </div>
                        <h4 class="num-bg text-center" data-end-value="1200">0</h4>
                        <h5 class="num-title text-center text-uppercase mt-1">
                            population
                            <br/>moyenne en france
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--******************************************** END SECTION 3 -->
