<!-- TODO: PAGINATION à custominer et fonctinnalité avec paginator bundle -->
<nav aria-label="Pages" id="pagined">
	<ul class="pagination pagination-custom justify-content-center">
		<li class="page-item disabled">
			<!-- TODO: remplacer par flèche avant -->
			<a class="page-link">Previous</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#">1</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#">2</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#">3</a>
		</li>
		<li
			class="page-item">
			<!-- TODO: remplacer par flèche suivante -->
			<a class="page-link" href="#">Next</a>
		</li>
	</ul>
</nav>
